{% extends 'base.html.twig' %}

{% block title %}Recenzie noua{% endblock %}

{% block body %}
    <center>
    <h1>&nbsp</h1>

    {{ include('feedback/_form.html.twig') }}

    <br>
    <a href="{{ path('feedback_index') }}"><h4>Inapoi</h4></a>
{% endblock %}
