{% extends 'base.html.twig' %}

{% block title %}Oaspete nou{% endblock %}

{% block body %}
    <center>
    <h1>&nbsp</h1>

    {{ include('customer/_form.html.twig') }}

    <br>
    <a href="{{ path('customer_index') }}"><h4>Inapoi</h4></a>
{% endblock %}
