{% extends 'base.html.twig' %}

{% block title %}Symfony Hotel{% endblock %}

{% block body %}
    <center>
    <h2>&nbsp</h2>
    <div style="padding-top: 1%;">
        <img src="../../assets/hotel-rogge-resita-1.jpg" style="background: linear-gradient(to right, #faa619, #682e17); padding:8px;">
    </div>

{% endblock %}
