{% extends 'siteBase.html.twig' %}

{% block title %}Symfony Hotel{% endblock %}

{% block body %}
    <div style="padding-top:3%; padding-bottom: 10%;">
        <div style="padding-left: 5%; padding-right: 5%; width:50%; display:block; float:left;">
            <img src="../../assets/hotel-rogge-resita-1.jpg" style="background: linear-gradient(to right, #faa619, #682e17); padding: 8px;">
        </div>
        <div style="display:inline-block; float=right; padding-top:10%; padding-left:5%;">
            <h3>
            <table>
                <tr>
                    <td><i class="fa fa-street-view" style="color:#682e17;"></i>Str. I.L. Caragiale nr. 12 RO Reșița, 320068, Romania</td>
                </tr>
                <tr>
                    <td><i class="fa fa-phone" style="color:#682e17;"></i>Receptie: +40 355 411 111</td>
                </tr>
                <tr>
                    <td><i class="fa fa-fax" style="color:#682e17;"></i>Fax receptie: +40 355 411 110</td>
                </tr>
                <tr>
                    <td><i class="fa fa-envelope" style="color:#682e17;"></i>E-mail: <a href="mailto:office@hotelrogge.ro">office@hotelsymfony.ro</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-map-marker" style="color:#682e17;"></i>GPS: <a class="top-menu-pinpoint" href="https://maps.google.com?q=45.289140,21.884872" target="_blank" rel="noopener">45.289140, 21.884872</a></td>
                </tr>
            </table>
            </h3>
        </div>
    </div>
    <br>
    <br>
 {% endblock %}
